<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>Chat: %s</title>
  	<link rel=stylesheet href="telegram-history-dump.css">
  </head>
  <body>
  	<div class='navigation-top'><a href="index.html">Back to index</a>%s</div>
  	<h1>%s</h1>
